<!doctype html>
<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular.min.js"></script>
    <link rel="stylesheet" href="css/style.css">
    <!-- Bootstrap -->
    <link href="css/bootstrap.css" rel="stylesheet">
  </head>
  <body ng-app="MYT">
    <div class="header">
      <div class="container">
        <h1>MYT</h1>
      </div>
    </div>

    <div class="main" ng-controller="MainController">
      <div class="container">

        <span>{{ title }}</span>
        <p> {{ describe }} </p>
        
        <form role="form" class="form-inline">
        <div class="form-group">
        <label for="email">Заголовок</label>
        <input type="text" class="form-control" ng-model="noteTitle" placeholder="Введите заголовок">
        </div>
        <div class="form-group">
        <label for="text">Текст заметки</label>
        <input type="text" class="form-control" ng-model="noteText" placeholder="Введите заметку">
        </div>
        <button type="submit" class="btn btn-success" ng-click="addNote()">+</button>
</form>  
          
        <hr>

        <div ng-repeat="note in notes" class="col-md-6 notes"> 
  <div class="thumbnail"> 
    <p class="title">{{ note.title }}</p> 
    <p class="price">{{ note.pubdate | date }}</p> 
    <p class="date">{{ note.text }}</p>
      <p class="date">{{ note.pubday }}</p>
      <button class="btn btn-danger" ng-click="delNote($index)">-</button>
  </div> 
</div>

      </div>
    </div>

    <div class="footer">
      <div class="container">
        
      </div>
    </div>


    <!-- Modules -->
    <script src="js/app.js"></script>

    <!-- Controllers -->
    <script src="js/controllers/MainController.js"></script>
      
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.js"></script>
  </body>
</html>