<!doctype html>
<html ng-app>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular.min.js"></script>
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    <div>
      <label>Name:</label>
      <input type="text" ng-model="Name" placeholder="Enter a name here">
      <input type="text" ng-model="Sername" placeholder="Enter your sername here">
      <hr>
      <h1>Hello {{Name}}!</h1>
      <h1>Your sername is {{Sername}}</h1>
    </div>
  </body>
</html>